body{
	background-color:#ffffff;
	color:#000000;
	font-family: Helvetica;
	margin:0px;
}

h2{
	text-align: center;
}

header{
	width: 100%;
	background-color: #75e2e6;
	text-align: right;
	height: 60px;
	margin: 0px;
	padding: 0px;
	border: 2px solid #75e2e6;
}

img.navdog{
	display: left;
	float:left;
}

h1{
	color:#ffffff
}

table{
	margin-top: 50px;
}
input.name{
	display:block;
	margin-left: 35%;
	margin-top:40px;
	margin-bottom: 10px;
	height: 30px;
	width: 300px;
	text-align: center;
}

button.name{
	background-color:#75e2e6;
	color: #000000;
	height:33px;
	width: 310px;

}

img.namedog{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 4px solid #0483aa;
}

img.sectiondog{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 4px solid #0483aa;
	margin: 30px;
}

.main{
	background-image: url("images/park.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#75e2e6;
	font-family: "Lucida Console", Monaco, monospace;
	height:500px;
	margin:0px;
	padding:0px;
	border-top: 2px solid #048eaa;
}

span{
	font-family: Verdana;
}

#navigation li{
	display: inline;
	float: right;
	background-color:#75e2e6;
	padding: 10px;
}

.content{
	width: 100%;
	height: auto;
	display: inline-block;
}

.main{
	text-align: center;
}

table{
	border-spacing: 20px;
	margin: 10px;
	margin-top: 20px;
}

button{
	text-align:center;
	background-color:#0483aa;
	color: #ffffff;
	min-width: 300px;
	width: auto;
	max-width: auto;
	height:40px;
	border: 1px #0483aa solid;
}

td{
	min-height: 200px;
	margin-left: 10px;
	padding: 0px;
}

td.button{
	background-color: #0483aa;
	text-align: center;
}

footer{
	text-align: center;
	background-color:#0483aa;
	color: #ffffff;
	height:150px;
	width: 100%;
	margin-top: 30px
}

p.follow{
	margin-top:10px;
	padding-top:30px;
	padding-bottom: 15px;
	padding-left:40px;
	font-size:10pt;
}

#follow li{
	display:inline;
	padding: 5px;
	margin: 5px;
}

img.follow{
	height: 27px;
}
